[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
numpy = "*"
ffmpeg = "*"
tensorflow = "*"
scipy = "*"
requests = "*"
aiohttp-requests = "*"
opencv-python = "*"
pillow = "*"
matplotlib = "*"
h5py = "*"
keras = "*"

[requires]
python_version = "3.7"
